.button-calibrate{
	margin: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	box-shadow: 0 2px 8px 6px rgba(0,0,0,.1);
	/*background-color: rgb(245,245,245);*/
	position: absolute;
	color: rgba(0,0,0,0);
	transition: transform .2s;
}
.button-calibrate:hover{
	transform: scale(1.05);
}
.button-calibrate__t5{
	background-color: rgb(255,0,0);
}
.button-calibrate__t4{
	background-color: rgb(150,100,0);
}
.button-calibrate__t3{
	background-color: rgb(100, 150, 0);
}
.button-calibrate__t2{
	background-color: rgb(50, 200, 0);
}
.button-calibrate__t1{
	background-color: rgb(0, 255, 0);
}
#cal-1{
	top: 0;
	left: 0;
}
#cal-2{
	top: 0;
	right: 0;
}
#cal-3{
	bottom: 0;
	left: 0;
}
#cal-4{
	bottom: 0;
	right: 0;
}
#cal-5{
	top: 0;
	left: calc(50vw - 1.5rem);
}
#cal-6{
	top: calc(50vh - 1.5rem);
	right: 0;
}
#cal-7{
	bottom: 0;
	left: calc(50vw - 1.5rem);
}
#cal-8{
	top: calc(50vh - 1.5rem);
	left: 0;
}








#focus{
	position: absolute;
	top: 50vh;
	left: 50vw;
	width: 40px;
	height: 40px;
	background-color: rgb(255, 120, 0);
}

#instructions{
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#instructions > h1{
	padding: 1rem;
}

#controls{
	display: none;
}
#garden{
	display: none;
	background-color: green;
	height: 80vh;
	flex-direction: column;
	align-items: center;
}
#garden > h1{
	padding: 1rem;
	color: white;
}














#webgazerVideoFeed{
	display: none;
}
#webgazerVideoCanvas{
	display: none;
}
body > #webgazerFaceOverlay{
	display: none;
}
#webgazerFaceFeedbackBox{
	display: none;
}
/*
body > video{
	display: none !important;
}
body > canvas{
	display: none !important;
}
/*
#focus{
	display: none !important;
}
*/